---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Valenlyn is a full-time slacker and part-time busybody."
  pubDate={new Date("June 10 2025")}
>
  <p>
    Hello, I'm Valenlyn. I am a slacker. I am very good at pottering around and
    enjoying my wonderful life. I am also a bit of a busybody and love offering
    advice. If you’d like to share a problem and get a solution, email me at
    valenlyn[at]hey[dot]com.
  </p>
</Layout>
